<form>
  <input type="text" id="search_term" name="search_term" placeholder="search">
  <button id ="submit-search">Search</button>
</form>

<br/>
<form>
  <input type="text" id="name" name="name" placeholder="name">
  <input type="text" id="email" name="email" placeholder="email">
  <input type="text" id="phone" name="phone" placeholder="phone">
  <button id ="submit">Add</button>
</form>
<br/>

<table id = "contact-table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>    
  </thead>

  <tbody>

  </tbody>
</table>

