<div class="row">
  <div class="col-md-6">
    <h1><a href="" id="submit-all">Contacts</a></h1>
  </div>

  <div class="col-md-6">
    <form>
    <div class="row">
      <div class="col-sm-9">
          <input class="form-control" type="text" id="search_term" name="search_term" placeholder="search">
      </div>
      <div class="col-sm-3">
        <button class="btn btn-default" id="submit-search">Search</button>
      </div>
    </div>
    </form>
  </div>
</div>





  <div class="col-sm-12">
  <form class="form-group well">
    <div class="col-sm-1"></div>
    <div class="col-sm-3"><input class="form-control"  type="text" id="name" name="name" placeholder="name"></div>
    <div class="col-sm-3"><input class="form-control"  type="text" id="email" name="email" placeholder="email"></div>
    <div class="col-sm-3"><input class="form-control"  type="text" id="phone" name="phone" placeholder="phone"></div>
    <div class="col-sm-2"><button class="btn btn-default" id ="submit">Add</button></div>
  </form>
  <div>




<table class="table" id = "contact-table">
  <thead>
    <tr>
      <th width="10%"></th>
      <th width="30%">Name</th>
      <th width="30%">Email</th>
      <th width="30%">Phone</th>
    </tr>    
  </thead>

  <tbody>
  
  </tbody>
</table>